<footer class="footer">
  <div class="footer__inner">

    <div class="logo --footer" href='#'>Dietologonline</div>

    <nav class="footer__nav">
      <ul class="footer-nav__list">
        <div class="footer-nav__list--block1">
          <li class="footer-nav__item"><a class="footer-nav__link" href="#">Чому ми</a>
          </li>
          <li class="footer-nav__item"><a class="footer-nav__link" href="#">Як це працює</a>
          </li>
          <li class="footer-nav__item"><a class="footer-nav__link" href="#">Переваги</a>
          </li>
        </div>
        <div class="footer-nav__list--block2">
          <li class="footer-nav__item"><a class="footer-nav__link" href="#">Вартість</a>
          </li>
          <li class="footer-nav__item"><a class="footer-nav__link" href="#">Запитайте нас</a>
          </li>
        </div>

      </ul>
    </nav>

  </div>
</footer>