<header class="header">
  <div class="header__inner">

    <div class="logo" href='#'>Dietologonline</div>

    <nav class="header__nav">
      <ul class="header-nav__list">
        <li class="header-nav__item"><a class="header-nav__link" href="#">Чому ми</a></li>
        <li class="header-nav__item"><a class="header-nav__link" href="#">Як це працює</a></li>
        <li class="header-nav__item"><a class="header-nav__link" href="#">Переваги</a></li>
        <li class="header-nav__item"><a class="header-nav__link" href="#">Вартість</a></li>
        <li class="header-nav__item"><a class="header-nav__link" href="#">Запитайте нас</a></li>
        <li class="header-nav__item"><a class="header-nav__link" href="#">Обрати дієтолога</a></li>
      </ul>
    </nav>

    @include('../components/burger.html')
  </div>
</header>