<div class="problems">
  <div class="container">
    <h2 class="title">Проблеми бігу без дієти</h2>

    <ul class="problems__inner">

      <li class="problems-card">
        <div class="problems-card__header">
          <img class="problems-card__img" src="./images/lamp.svg" alt="lamp">
          <h3 class="problems-card__title">Нестача енергії</h3>
        </div>
        <p class="problems-card__content">
          Неправильний раціон – нестача енергії/надмірне навантаження на організм
        </p>
      </li>

      <li class="problems-card">
        <div class="problems-card__header">
          <img class="problems-card__img" src="./images/branch.svg" alt="branch">
          <h3 class="problems-card__title">Порушення метаболізму</h3>
        </div>
        <p class="problems-card__content">
          Відмова від обіду після тренування – порушення метаболізму, ефективність тренування 0
        </p>
      </li>

      <li class="problems-card">
        <div class="problems-card__header">
          <img class="problems-card__img" src="./images/scale.svg" alt="scale">
          <h3 class="problems-card__title">При недоїданні</h3>
        </div>
        <p class="problems-card__content">
          Низька ефективність тренування, ризик запаморочення
        </p>
      </li>

      <li class="problems-card">
        <div class="problems-card__header">
          <img class="problems-card__img" src="./images/weight.svg" alt="weight">
          <h3 class="problems-card__title">Зайва вага</h3>
        </div>
        <p class="problems-card__content">
          Надмірне навантаження на суглоби вашого тіла, коліна
        </p>
      </li>


      <li class="problems-card">
        <div class="problems-card__header">
          <img class="problems-card__img" src="./images/cake.svg" alt="cake">
          <h3 class="problems-card__title">Важко бігти</h3>
        </div>
        <p class="problems-card__content">
          При переїданні – біль у печінці, порушення кровотоку
        </p>
      </li>

      <li class="problems-card">
        <div class="problems-card__header">
          <img class="problems-card__img" src="./images/heart.svg" alt="heart">
          <h3 class="problems-card__title">Порушення гідробалансу</h3>
        </div>
        <p class="problems-card__content">
          Ризик запаморочення, порушення роботи серця, загущення крові
        </p>
      </li>

    </ul>

  </div>
</div>
</div>