.burger {
	display: none;
	position: relative;
	width: 30px;
	height: 24px;
	border: none;
	padding: 0;
	background-color: transparent;
	cursor: pointer;

	&::before,
	&::after {
		content: '';
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: $main-text-color;
		transition: all 0.1s ease-in-out;
	}

	&::before {
		top: 0;
	}

	&::after {
		bottom: 0;
	}
}

.burger__line {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 75%;
	height: 2px;
	background-color: $main-text-color;
}

.header__nav.header__nav--toogle {
	opacity: 1;
	height: 100vh;
	background-color: $bg-color;
}

.burger__line.burger--transform {
	opacity: 0;
}

.burger--transform::before {
	top: 50%;
	rotate: (45deg);
}
.burger--transform::after {
	top: 50%;
	rotate: (-45deg);
}

// Disable ::-webkit-scroll

.disable-scroll {
	position: relative;
	overflow: hidden;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}
