.footer__inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 75px 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.logo.--footer {
	margin-right: 0;
	margin-bottom: 38px;
}

.footer-nav__list {
	display: flex;
	justify-content: center;
	text-wrap: nowrap;
	font-weight: 600;
	font-size: 15px;
}

.footer-nav__list--block1 {
	display: flex;
	margin-right: 43px;
}
.footer-nav__list--block2 {
	display: flex;
}

.footer-nav__item {
	margin-right: 93px;

	&:last-child {
		margin-right: 0;
	}
}

.footer-nav__link {
	transition: all 0.2s ease-in-out;
	color: $main-text-color;

	&:focus-visible {
		outline: none;
		color: $action-color;
	}

	&:hover {
		color: $action-color;
	}
}
