.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 24px 100px;
	box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.05);
}

.logo {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 17px;
	color: $accent-color;
	margin-right: 43px;
	cursor: pointer;
}

.header__nav {
	font-weight: 600;
	font-size: 15px;
}

.header-nav__list {
	display: flex;
	align-items: center;
}

.header-nav__item {
	margin-right: 43px;
	text-wrap: nowrap;
	transition: all 0.3s ease-in-out;

	&:last-child {
		margin-right: 0;
		border-radius: 50px;
		padding: 9px 25px;
		border: 1px solid rgba(93, 189, 109, 0);
		background-color: #e6f9e6;

		&:hover {
			border: 1px solid rgba(93, 189, 109, 1);
		}
	}
}

.header-nav__link {
	color: $main-text-color;
	transition: all 0.3s ease-in-out;

	&:focus-visible {
		outline: none;
		color: $action-color;
	}

	&:hover {
		color: $action-color;
	}
}

.header-nav__item--last a {
	color: $accent-color;

	&:focus-visible {
		color: $accent-color;
	}

	&:hover {
		color: $accent-color;
	}
}
