.hero__inner {
	display: flex;
	justify-content: space-between;
  margin-top: 60px;
}
.hero__content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 214px;
	max-width: 360px;
	max-height: 235px;
	overflow: hidden;
}

.hero__title {
	font-weight: 800;
	font-size: 43px;
	max-width: 360px;
	max-height: 125px;
}

.hero__text {
	font-weight: 400;
	font-size: 16px;
}
