.hero__inner {
	display: flex;
	align-items: center;
	justify-content: center;
}
.hero__content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	max-width: 360px;
	max-height: 235px;
}

.hero__title {
	font-weight: 800;
	font-size: 43px;
	max-width: 360px;
	max-height: 125px;
  margin-bottom: 32px;
}

.hero__text {
	font-weight: 400;
	font-size: 16px;
  margin-bottom: 53px;
}
