@media (max-width: 1199px) {
	.header__inner {
		padding: 24px;
	}

	.logo {
		margin-right: 34px;
	}

	.header-nav__item {
		margin-right: 34px;
	}
}

@media (max-width: 991px) {
	.header__inner {
		flex-direction: column;
		padding: 24px;
	}

	.logo {
		margin-right: 34px;
    margin-bottom: 18px;
	}

	.header-nav__item {
		margin-right: 34px;

		&:last-child {
			background-color: transparent;
			padding: 0;
		}
	}

	.header-nav__item--last a {
		color: $main-text-color;
	}
}
