@media (max-width: 1200px) {
	.header__inner {
		padding: 24px;
	}

	.logo {
		margin-right: 34px;
	}

	.header-nav__item {
		margin-right: 34px;
	}
}

@media (max-width: 992px) {
	.header__inner {
		flex-direction: column;
		padding: 24px;
	}

	.logo {
		margin-right: 0;
		margin-bottom: 18px;
	}

	.header-nav__item {
		margin-right: 34px;

		&:last-child {
			background-color: transparent;
			padding: 0;
			border: transparent;

			&:hover {
				border: transparent;
			}
		}
	}

	.header-nav__link {
	}

	.header-nav__item--last a {
		color: $main-text-color;

		&:hover {
			color: $action-color;
		}
	}
}

@media (max-width: 768px) {
	.burger {
		display: block;
	}
	.header__inner {
		position: relative;
		flex-direction: row;
		padding: 18px;
		z-index: 2;
	}
	.logo {
		margin-right: 18px;
		margin-bottom: 0;
	}
	.header__nav {
		z-index: 1;
	}

	.header__nav {
		position: fixed;
		z-index: 1;
		opacity: 1;
		left: 0;
		top: 60px;
		width: 100%;
		font-size: 24px;
		background-color: transparent;
		transition: all 0.2s ease-in-out;
		transform: translateY(-150%);
	}
	.header-nav__list {
		display: block;
		text-align: center;
		padding: 18px;
	}
	.header-nav__item {
		margin-right: 0;
		margin-bottom: 15px;
	}
}
