@media (max-width: 1200px) {
	.hero__content {
		padding: 0 25px;
	}
}
@media (max-width: 992px) {
	.hero__content {
		margin-top: 65px;
		padding: 0 25px;
	}
}

@media (max-width: 768px) {
	.hero__inner {
		position: relative;
		margin: 0 auto;
		padding: 0 25px;
	}
	.hero__content {
		display: flex;
		align-items: center;
		margin: 25% auto;
		padding: 0;
		max-height: 100%;
	}
	.hero__title {
		margin-bottom: 15%;
	}
	.hero__text {
		text-align: center;
		margin-bottom: 10%;
	}
	.hero__img {
		position: absolute;
		z-index: -1;
		opacity: 0.3;
		left: 0;
	}
}
@media (max-width: 375px) {
	.hero__title {
		font-size: 34px;
		margin-bottom: 25%;
	}
	.hero__text {
		margin-bottom: 25%;
	}
}
