.action__btn {
	padding: 11px 32px;
	background-color: $action-color;
	font-weight: 600;
	font-size: 20px;
	border-radius: 50px;
	max-width: 240px;
	max-height: 48px;
	color: $action__btn;
	transition: all 0.3s ease-in-out;
	&:hover {
		transform: translateY(-5px);
	}
}
