.problems {
	background-color: $bg-color;
	padding: 110px 0;
}

.problems__inner {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px 30px;
	justify-content: center;
}

.problems-card {
	background-color: $bg-light;
	padding: 20px;
	border-radius: 10px;
	max-width: 350px;
	width: 100%;
	height: 216px;
	overflow: hidden;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.1);

	&:hover {
		transform: translateY(-5px);
	}
}

.problems-card__img {
	margin-bottom: 10px;
}
.problems-card__title {
	font-weight: 600;
	font-size: 16px;
}
.problems-card__header {
	margin-bottom: 10px;
}
